{#
  Name: Prayer Grid
  Description: Displays list of publishable prayers
#}

<div class="prayer-grid">
  {% for prayer in prayers() %}
    {% include "tease-prayer.twig" with {post: prayer} %}
  {% endfor %}
</div>