{% extends "base.twig" %}

{% block content %} 

	{# {% include ['headers/standard.twig', 'headers/standard.twig'] with {title: title} %} #}

	<section class="section bg-dark-gray parallax ">
		<img src="{{post.thumbnail.src|default(TimberImage(options.minute_in_the_word_default_image))|resize(1400)}}" alt="" class="section-background-image header-background-image fade-15">
		<div class="section-content thick-padding no-animation">
			<div class="row">
				<div class="column text-center white ">
					<h1>Prayer Requests</h1>
				</div>
			</div>
		</div>
  </section>
  <section class="section bg-silver">
    <div class="section-content row two-thirds-width">
      <div class="column">
        <div class="prayer-grid">
          {% for item in posts %}  
            {% include ['tease-prayer.twig', 'tease-post.twig', 'tease.twig'] with {post: item} %}
          {% endfor %}
        </div>
      </div>
		</div>
    {% include 'pagination.twig' %}
	</section>
		{% for section in post.get_field('page_sections') %} 
			{% include ['sections/'~section.acf_fc_layout~'.twig', 'sections/standard.twig']  %}
		{% endfor %}
{% endblock %}